
body {
    margin: 0;
    padding: 0;
    /*background-image: url('images/back4.png');*/
    background: radial-gradient(465px at -15.1% -25%, rgb(17, 130, 193) 0%, rgb(67, 166, 238) 49%, rgb(126, 203, 244) 90.2%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    color: #ffffff; 
}

.containers {
    margin: 200px 90px 0px 90px;
    color: red;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 40px;
    border-radius: 4px;
}

.about_container {
    margin: 200px 100px 0px 100px;
    color: red;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 40px;
    border-radius: 4px;
    text-align: center;
}

.about_container2 {
    display: flex;
    color: red;
    justify-content: space-around;
}

.container2 {
    margin: 100px 90px;
    color: red;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 40px;
    border-radius: 4px;
}

.about_container2 div {
    margin: 150px 20px 10px 20px;
    color: red;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 60px;
    border-radius: 4px;
    text-align: center;
}

.about_container2 div button {
    padding: 10px;
    background-color: red;
    color: azure;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.containers button {
    padding: 10px;
    background-color: red;
    color: azure;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.containers button:hover {
    background-color: rgb(241, 149, 149);
}
.container2 button {
    padding: 10px;
    background-color: red;
    color: azure;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container2 button a {
    text-decoration: none;
    color: white;
}

.containers button a {
    text-decoration: none;
    color: white;
}

.container2 button:hover {
    background-color: rgb(241, 149, 149);
}
.about_container2 div button:hover {
    background-color: rgb(241, 149, 149);
}
.container3 {
    margin: 100px 90px 0px 90px;
    color: red;
    background-color: rgba(257, 257, 257, 0.4);
    padding: 40px;
    border-radius: 4px;
}

.fa-brands {
    text-decoration: none;
    color: black;
    padding: 10px;
}

li {
    list-style: none;
}

.form-box {
    width: 450px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-box button {
    padding: 10px;
    background-color: azure;
    color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-box button:hover {
    background-color: rgb(211, 244, 244);
}

footer {
    text-align: center;
    color: white;
    font-size: 13px;
    padding-top: 30px;
    padding-bottom: 10px;
}
